@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Oswald:wght@300;400;600&family=Staatliches&display=swap");

html {
  margin: 0;
  background: url("/final/images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

body {
  margin: 0;
}

main {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-family: "Metal Mania", fantasy;
  color: white;
  font-size: 7em;
  margin: -0.8em 0 0 1em;
}

h1 span {
  margin-top: -0.6em;
  display: block;
  font-size: 0.63em;
  color: #d83030;
  position: relative;
  z-index: -1;
}

h2 {
  font-family: "Metal Mania", fantasy;
  color: white;
  font-size: 1.8em;
  margin: 0.5em 0 0.5em 0;
  text-align: center;
}

img.nslogo {
  display: block;
  margin: 4em 0 0 4em;
  width: 21em;
  z-index: 2;
  position: relative;
}

/* p {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  margin-top: 1.5em;
} */

button,
a {
  appearance: none;
  -webkit-appearance: none;
  background-color: #d83030;
  border-radius: 99em;
  border: 1px solid #b82020;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  padding: 1.2em 2em;
  text-decoration: none;
}

a {
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
  margin: 1.5em auto 0 auto;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  width: fit-content;
  text-align: center;
}

form[name="travelbuttons"] {
  margin: -13em 0 0 0;
}

form[name="travelbuttons"] a {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.1em;
  text-transform: lowercase;
}

form[name="travelbuttons"] a:nth-of-type(2) {
  background-color: #811f1f;
  border: none;
}

form[name="travelbuttons"] a:last-of-type {
  font-weight: bold;
  font-size: 1.2em;
}

form[name="travelbuttons"] a span {
  font-weight: bold;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  font-size: 1.1em;
  text-transform: uppercase;
}

form[name="travelbuttons"] a span svg {
  margin: 0 0.3em;
}

form[name="travelbuttons"] a span svg:first-of-type {
  margin: 0 0.3em 0 0;
}

a:focus,
form[name="travelbuttons"] a:nth-of-type(2):focus {
  background-color: rgb(50, 177, 0);
  outline: none;
}

form[name="homework"] {
  margin-top: -22em;
  text-align: center;
  color: white;
}

label {
  color: white;
  margin: 0 0.5em;
  font-family: "Metal Mania", sans-serif;
  font-size: 1.8em;
  line-height: 2.1em;
}

select {
  display: inline-block;
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
  color: white;
  line-height: 1.3;
  padding: 0.6em 2em 0.5em 0.8em;
  max-width: 100%;
  margin: 0.6em auto;
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid rgb(104, 104, 104);
  background-color: rgb(49, 49, 49);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 55%, 0 0;
  background-size: 0.65em auto, 100%;
}

input[type="time"] {
  display: inline-block;
  margin-left: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid rgb(104, 104, 104);
  background-color: rgb(49, 49, 49);
  font-family: "Oswald", sans-serif;
  color: white;
  padding: 0.6em 0.5em 0.6em 1em;
  border-radius: 0.5em;
  font-size: 1.2em;
  transform: translateY(-0.2em);
  margin-top: 0.7em;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

button.switch {
  transform: rotate(90deg);
  padding: 1em 0.7em;
}

button.switch svg {
  margin-top: 0.3em;
}

section.hearts {
  text-align: center;
  width: 10em;
  margin-left: 10em;
}

section.hearts ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

section.hearts ul li {
  margin: 0 0.5em;
  transition: all 0.6s ease-out;
}

section.hearts ul li img {
  width: 2em;
}

section.dagtijd div:first-of-type {
  margin-left: -2.2em;
}

section.dagtijd div:last-of-type {
  margin-left: -7.5em;
}

p {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 1.1em;
  letter-spacing: 0.02em;
  margin-top: 1.5em;
}

section.dead {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);
  overflow-y: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#terminal {
  white-space: pre;
  display: inline;
}
